/home/hp/MyDatabase/All_documents/terraform/terraform_module/dev/.terraform/plugins/linux_amd64/terraform-provider-aws_v2.1.0_x4
/home/hp/MyDatabase/All_documents/terraform/terraform_module/dev/terraform.tfvars
/home/hp/MyDatabase/All_documents/terraform/terraform_module/dev/terraform.tfstate
/home/hp/MyDatabase/All_documents/terraform/terraform_module/dev/terraform.tfstate.backup
/home/hp/MyDatabase/All_documents/terraform/terraform_module/mykey
/home/hp/MyDatabase/All_documents/terraform/terraform_module/mykey.pub

/home/hp/MyDatabase/All_documents/terraform/Terraform_lab/.terraform/plugins/linux_amd64/terraform-provider-aws_v1.60.0_x4
/home/hp/MyDatabase/All_documents/terraform/Terraform_lab/terraform.tfvars
/home/hp/MyDatabase/All_documents/terraform/Terraform_lab/terraform.tfstate
/home/hp/MyDatabase/All_documents/terraform/Terraform_lab/terraform.tfstate.backup
/home/hp/MyDatabase/All_documents/terraform/Terraform_lab/mykey
/home/hp/MyDatabase/All_documents/terraform/Terraform_lab/mykey.pub
